*{
    padding: 0;
    margin: 0;
}

a.navbar-brand{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: blue;
}

.heading-section{
    background-image: url(../img/nightsky.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.heading{
    color: red;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.introduction{
    color: black;
    padding-top: 20px;
    font-size: 20px;
}
